body {
  background-image: url("acessets/img/BG_Site.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
